/* 
    Red color style
    Here you can choose your default website color
*/
.custom-heading-02 a,
a:focus,
a:hover,
.read-more,
#quick-links > li > a,
#social-links > li a:hover,
a:hover h1,
a:hover h2,
a:hover h3,
a:hover h4,
a:hover h5,
a:hover h6,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav>li.current-menu-item>a,
#footer-wrapper a:hover,
#footer-wrapper > #footer .footer-widget-container .widget.widget_nav_menu .menu .menu-item a:hover,
#footer-wrapper .footer-widget-container .social-links a:hover,
.widget > ul > li::after,
.widget > ul > li a:hover,
.contact-info-list > li > i,
a.download-link::after,
.post-comments > ul.comments-li > li .comment .comment-meta > li a:hover,
.header-cart .cart-container a:hover,
.widget_nav_menu .menu-item > a:hover::after,
.rpwe_widget div.rpwe-block time.rpwe-time,
.rpwe_widget div.rpwe-block .rpwe-title a:hover,
.rpwe_widget div.rpwe-block p .read-more:hover,
.latest-posts-carousel-01 .latest-post-item time.post-time,
.latest-posts-carousel-01 .latest-post-item .post-title:hover a,
.latest-posts-carousel-01 .latest-post-item .post-meta li,
.latest-posts-carousel-01 .latest-post-item p .read-more:hover,
.pi-events.events-style-01 .events-title-container .event-title a:hover,
.post-container .post-body > .post-meta .post-category a,
.post-container .post-body h3:hover a,
.post-container .post-body > .post-meta li a:hover,
.more-btn:hover,
.more-btn.btn-animated-hidden:hover:after,
.post-container .post-body p .read-more:hover,
.pagination > ul > li > a:hover, 
.pagination > ul > li.active > a,
.latest-posts-carousel-03 .latest-post-item .post-container .post-body h3 a:hover,
.latest-posts-carousel-03 .latest-post-item .post-container .post-body > .post-meta li a:hover,
.pi-events .events-cell span a:hover,
.music-band .pi-caption,
.latest-portfolio-carousel .latest-portfolio-item .portfolio-item-container h3 a:hover,
#masterslider-artist .ms-thumb-list.ms-dir-v .ms-thumbs-cont .ms-thumb-frame.ms-thumb-frame-selected .ms-thumb,
#masterslider-artist .ms-thumb-list.ms-dir-v .ms-thumbs-cont .ms-thumb-frame .ms-thumb:hover,
.team-member h2 a:hover,
ul.default-list li a:hover,
ul.default-list li a:hover strong,
.event-meta li a:hover,
.portfolio-meta li a:hover,
.video-item h2 a:hover,
.reviews-grid .post-container .post-body .post-category a,
.featured-blog-post .more-btn.btn-animated-hidden:after,
.page-title.blog-title .post-meta li a:hover,
.blog-posts.blog-single > li.post-container p a:hover,
.review-single .post-meta li.post-category a,
.review-single .post-meta li a:hover,
.blog-posts.blog-single.review-single .post-info .post-tags li .tag:hover,
.widget.social-links #social-links > li a:hover,
.filters > li a:hover,
.rpwe_widget div.rpwe-block .rpwe-ul li .rpwe-title a:hover,
.block-button:hover span,
.widget_nav_menu .menu-item > a:hover,
.dark-theme .reviews-grid .post-container .post-body h3 a:hover,
.dark-theme .reviews-grid .post-container .post-body h3 a:hover strong,
.dark-theme .blog-posts.blog-single.review-single .post-info h2 a:hover,
.dark-theme .blog-posts.blog-single.review-single .post-info h2 a:hover strong,
.dark-theme .blog-posts.blog-single li.post-container p a:hover,
.portfolio-item-container h3 a:hover,
.blog-posts.blog-single.review-single .post-info h2 a:hover,
.blog-posts.blog-single.review-single .post-info h2 a:hover strong,
.master-slider-custom-nav li:hover,
.master-slider-custom-nav li.active,
.dark-theme .woocommerce ul.product_list_widget li .product-title:hover,
.woocommerce ul.product_list_widget li .product-title:hover,
.dark-theme.woocommerce nav.woocommerce-pagination .page-numbers li > a:hover,
.woocommerce nav.woocommerce-pagination .page-numbers li > a:hover,
.dark-theme.woocommerce nav.woocommerce-pagination .page-numbers li > span.current,
.woocommerce nav.woocommerce-pagination .page-numbers.current li > span.current{
    color: #e21f2f;
}

#quick-links > li > a::before,
.btn-theme,
.btn:hover,
.read-more::after,
.newsletter-widget .submit,
.wpcf7 .wpcf7-submit,
.filters > li::before,
.filters > li.filter-button.is-checked::before,
.tagcloud > a:hover,
.comment-form-container .form-submit #comment-reply,
.text-highlighted,
.scroll-up:hover,
.header-cart .cart-container a .cart-count,
.widget_calendar #wp-calendar #today,
.custom-heading-01::before,
.custom-heading-02::before,
.custom-heading-04::before,
.owl-controls .owl-dot:hover span,
.music-band .pi-button-02,
.pi-date .pi-date-line,
.page-title.page-title-style-02 .pt-heading h1:after,
.woocommerce a.button,
.widget_calendar #wp-calendar #today,
#em-wrapper div.css-search.has-advanced div.em-search-main .em-search-submit,
.block-button.shop-category-link .btn:hover,
.widget > .title h1:after, .widget > .title h2:after, .widget > .title h3:after, .widget > .title h4:after, .widget > .title h5:after, .widget > .title h6:after,
.pi-button-02:hover,
.wpcf7-form .wpcf7-submit:hover,
.post-media:hover .post-rating,
.widget .widget-title:after,
.dark-theme .call-to-action .newsletter .submit:hover,
.dark-theme .blog-posts.blog-single.review-single ul .post-container .comment-form-container #comment-reply:hover,
.dark-theme .comment-form-container #comment-reply:hover,
#newsletter-popup .submit,
.navbar-default .navbar-nav > li > a.btn:hover,
.woocommerce .product .woocommerce-tabs #review_form_wrapper .form-submit #comment-reply,
.woocommerce .product button.button.alt{
    background-color: #e21f2f;
}

blockquote,
input:focus,
.call-to-action .newsletter .email:focus,
.pi-button:hover,
.volcanno-audio-posts-widget .vlc-apw-ul .vlc-audio-post:hover,
.volcanno-audio-posts-widget .vlc-apw-ul .vlc-audio-post:hover + .vlc-audio-post,
.volcanno-audio-posts-widget .vlc-apw-ul .vlc-audio-post:last-child:hover{
    border-color: #e21f2f;
}

.newsletter-widget .submit:hover,
.wpcf7 .wpcf7-submit:hover,
.comment-form-container .form-submit #comment-reply:hover,
.woocommerce a.button:hover,
.music-band .pi-button-02:hover,
#newsletter-popup .submit:hover,
.woocommerce .product .woocommerce-tabs #review_form_wrapper .form-submit #comment-reply:hover,
.woocommerce .product button.button.alt:hover{
    background-color: #ff4d5c;
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #e21f2f;
}

::selection {
    color: #fff;
    background: #e21f2f;
}