/*  
    6.20. ELEMENTS - TEAM MEMEBRS
    ========================================================================= */
.team-member {
    text-align: center;
    
    img {
        width: 100%;
        margin-bottom: 15px;
    }
    h2 {
        margin-bottom: 10px;
        line-height: 26px;
        
        a {
            color: #fff;
        }
    }
    span {
        font-size: 13px;
        text-transform: uppercase;
        font-weight: $font-weight-medium;
    }
}
